<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>boba-cup-brown.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>boba-cup-pink.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,180},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>boba-cup-white.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,358},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>boba-cup-yellow.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,536},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>coca-bottle-blue.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,714},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>coca-bottle-red.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,2},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>coffee-cup-blue.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,180},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>coffee-cup-orange.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,358},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>coffee-cup-red.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,536},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>energy-can-green.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,714},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>energy-can-yellow.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,2},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>fountain drink-green.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,2},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>fountain drink-red.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,2},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>fountain drink-yellow.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,2},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>fruit-carton-green.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,2},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>fruit-carton-orange.png</key>
      <dict>
        <key>frame</key>
        <string>{{772,2},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>fruit-carton-purple.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,2},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>fruit-carton-red.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,180},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>ice-cream-cup-blue.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,358},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>ice-cream-cup-red.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,536},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>juice-bottle-green.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,714},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>juice-bottle-orange.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,180},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>juice-bottle-pink.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,180},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>juice-bottle-purple.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,180},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>lemon-bottle-yellow.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,180},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>milk-bottle-blue.png</key>
      <dict>
        <key>frame</key>
        <string>{{772,180},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>milk-bottle-brown.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,180},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>milk-bottle-green.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,358},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>milk-bottle-pink.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,536},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>milk-carton-blue.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,714},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>milk-carton-brown.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,358},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>milk-carton-green.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,536},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>milk-carton-pink.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,714},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>soda-bottle-green.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,358},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>soda-bottle-pink.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,358},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>soda-bottle-red.png</key>
      <dict>
        <key>frame</key>
        <string>{{772,358},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>soda-bottle-yellow.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,358},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>soda-can-green.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,536},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>soda-can-pink.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,714},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>soda-can-purple.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,536},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>soda-can-yellow.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,714},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>soda-pouch-blue.png</key>
      <dict>
        <key>frame</key>
        <string>{{772,536},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>soda-pouch-red.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,536},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
      <key>soda-pouch-yellow.png</key>
      <dict>
        <key>frame</key>
        <string>{{772,714},{106,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,174}}</string>
        <key>sourceSize</key>
        <string>{106,174}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>drink.png</string>
      <key>size</key>
      <string>{990,890}</string>
      <key>textureFileName</key>
      <string>drink</string>
    </dict>
  </dict>
</plist>
